@using EShop.Helpers
@model IEnumerable<DataModels.Dtos.ProductDto>
@using ISession = EShop.Helpers.ISession
@inject ISession Session
@inject IUserAccess UserAccess
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customer = Session.GetCustomer();
}

<style>
    #datatable_length > label > select {
        color: #333333;
    }

    #datatable {
        background-color: white;
    }
</style>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@if (UserAccess.IsAdmin(customer))
{
    @Html.ActionLink("Create", "Create", "Products", "", new { @class = "btn btn-primary" })
}
@if (Model != null && Model.Any())
{
    <table id="datatable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                @if (UserAccess.IsAdmin(customer))
                {
                    <th class="col-lg-1"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td width="200px"><a href="@Url.Action("Details","Products", new { id = product.Id })"><img class="card-img-top align-middle" src="@product.Image" /></a></td>
                    @if (UserAccess.IsAdmin(customer))
                    {
                        <td>@Html.ActionLink(product.Name, "Edit", "Products", new { id = product.Id }, null)</td>
                    }
                    else
                    {
                        <td>@product.Name</td>
                    }
                    <td>@product.Category</td>
                    <td>@product.Description</td>
                    <td width="80px">@product.Price <i class="fa-solid fa-euro-sign"></i></td>
                    <td>@product.Quantity</td>
                    @if (UserAccess.IsAdmin(customer))
                    {
                        <td>@Html.ActionLink("Delete", "Delete", "Products", new { id = product.Id }, new { @class = "btn btn-delete btn-primary", id = "btn-delete" })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><br>You don't have any products registered yet!</p>
}

<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>
