@using EShop.Helpers
@model EShop.ViewModels.UserViewModel
@using ISession = EShop.Helpers.ISession
@using AutoMapper
@inject ISession Session
@inject IUserAccess UserAccess
@inject IMapper Mapper
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customer = Session.GetCustomer();
    var chosenCustomer = Mapper.Map<Customer>(Model.Customer);
    chosenCustomer.User = Mapper.Map<User>(Model.User);
}

<h2>@ViewBag.Title</h2>
@if (UserAccess.IsAdmin(customer) && !UserAccess.IsAdmin(chosenCustomer))
{
    @Html.ActionLink("Convert to Admin", "ConvertToAdmin", new { id = Model.User.Id }, new { @class = "btn btn-primary" })
}
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.City, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Customer.City, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Address, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.User.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.User.RegDate, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.User.RegDate, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.User.LoginDate, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.User.LoginDate, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
