@model IEnumerable<EShop.Models.UserDto>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.RegDate)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.LoginDate)
        </th>
        <th class="col-lg-3"></th>

    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RegDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoginDate)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
    </td>
</tr>
}

</table>
