@using EShop.Helpers
@using DataModels.Dtos
@model ViewModels.UserViewModel
@{
    ViewBag.Title = "Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customer = (CustomerDto)ViewBag.Customer;
    var user = (UserDto)ViewBag.User;
    bool isCustomer = ViewBag.IsCustomer ?? false;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

<style>
    .center {
        width: 350px;
        margin: 0 auto;
    }
</style>

<div class="container">
    <div class="center">
        <h3>@ViewBag.Title</h3>
        @if (isAdmin && Model.User.UserType != Enums.UserType.Admin)
        {
            @Html.ActionLink("Convert to Admin", "ConvertToAdmin", new { id = Model.User.Id }, new { @class = "btn btn-primary" })
        }
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.Name, new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.City, new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Customer.City, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.Address, new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.User.Email, new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.User.RegDate, new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.User.RegDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.User.LoginDate, new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.User.LoginDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>


