@model IEnumerable<EShop.Models.UserDto>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="datatable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.RegDate)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.LoginDate)
            </th>
            <th class="col-lg-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>
