@model IEnumerable<DataModels.Dtos.OrderDto>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<style>
    .card {
      margin-bottom: 1rem;
    }

    .details-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
  </style>

@*<h2>@ViewBag.Title</h2>*@

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@*@Html.ActionLink("Create", "Create", "Orders", "", new { @class = "btn btn-primary" })*@

@if (Model != null && Model.Any())
{
    <div class="container">
        <h1 class="text-center mb-4">Order List</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Order #@count</h5>
                            <p class="card-text">Customer: @item.CustomerName</p>
                            <p class="card-text">Order Date: @item.OrderDate.ToLongDateString()</p>
                            <p class="card-text">Final Price: @item.FinalPrice</p>
                            @Html.ActionLink("Details", "Edit", "Orders", new { id = item.Id }, new { @class = "btn btn-primary details-btn" })
                      </div>
                    </div>
                </div>
                count++;
            }
        </div>
    </div>
}
else
{
    <p><br>You don't have any orders registered yet!</p>
}

@*<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>*@