@model IEnumerable<EShop.Models.OrderDto>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.ActionLink("Create", "Create", "Orders", "", new { @class = "btn btn-primary" })
@if (!Model.Any())
{
    <p><br>You don't have any orders registered yet!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Final Price</th>
                <th>Date</th>
                <th>Completed</th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CustomerName</td>
                    <td>@order.FinalPrice $</td>
                    <td>@order.OrderDate</td>
                    <td>@order.Completed</td>
                    <td>@Html.ActionLink("Details", "Edit", "Orders", new { id = order.Id }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Orders", new { id = order.Id }, new { @class = "btn btn-primary btn-delete", id = "btn-delete" })</td>
                </tr>
            }
        </tbody>
    </table>
}